*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*Todo conteúdo que 
    ultrapassar a horizontal
    proporcionada será ignorado */
    overflow-x: hidden;
}
header{
    height: 100px;
    background-color: black;
}
.header{
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
   
    color:white;
}
.Logo{
    width: 100px;
}
.LogoImg img{
    width: 80px;
    height: 80px;
    background-color: #b28756;
}
.menu{
    flex:1;
    display: flex;
    justify-content: flex-end;
}

.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li {
    padding-left: 10px;
    padding-right: 10px;
}
.menu li a{
    text-decoration: dashed;
    color: white;
    text-transform: uppercase;
    font-weight: 600;/*tipo semibout*/
    height: 100px;
    display: flex; /*faz o a ter um bloco*/
    align-items: center;
    border-bottom: 5px solid black;

}
.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid #b28756;
    color: #ccc;
}
.menu-opener{
    display: none;
}
.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow:hidden; /*Este comando não deixa o height Ultrapar a proporção da tela. Ou seja ignora o espaço extra*/
}
.banner .sliders{
    width: 1000vw;
    /* se usar tira display: flex;
    pode tirar o display:inline-block;*/
    height: 100%;
}
.banner .slide{
    width: 100vw; /*largura maxima da tela*/
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);

}
.banner .slideArea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
}
.banner h1{
    text-transform: uppercase;
    font-size: 40px;
}
.banner h1 span{
    color: #b28756;
}
.banner h2 {
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.button{
    display: inline-block;
    text-decoration: none;
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 30px;
}
.button:hover{
    color: #ccc;
    background-color: #ad7e48;
}
/*Se o width: ter problema troque por 100%*/
.banner .sliders-pointer{
    width: 100%;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin: 0px 0px 10px 10px;
    cursor: pointer;
}

/*Não pode conter espaço entre 
.pointer.active{}, caso tenha
 o efeito não será aplicado*/
.banner .pointer.active{ 
    background-color: #b28756;
}
.Default{
    padding-top: 50px;
    padding-bottom: 50px;
}
.Default .section-title,
.Default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.Default .section-title{
    font-size: 20px;
}
.Default .section-desc{
    font-size: 12px;
    color: rgb(182, 182, 182);
    margin-top: 10px;
    margin-bottom: 40px;
}
.Default .section-body{
    margin: auto;
    width: 100%;
    max-width: 1140px;
}

/*framework para titulos com bg claro*/
/*Duas class do html em uma, 
quando aplicada no css não pode
conter espaço. 
Ex: <section class="Default light">
E quando aplicada no css,
deve ser assim:*/
.Default.light{
    background-color: #f7f7f7;
}
.Default.light .section-title,
.Default.light .section-body{
    color: black;
}

/*framework para titulos com bg escuro*/
.Default.dark{
    background-color: #000;
}
.Default.dark .section-title,
.Default.dark .section-body{
    color: white;
}







/*css para Áreas expecificas*/
.section-aboutus{
    display: flex;
}
.section-aboutus--left{
    flex: 1;
}
.section-aboutus--left p{
    line-height: 25px;
    font-size: 14px;
}
.section-aboutus--right{
    display: flex;
    text-align: center;
    min-width: 30%;
}
.section-aboutus--right .Image{
    width: 400px;
    height: 240px;
    background-color: black;
    margin: auto;
    box-shadow: 0px 5px 10px #333;
}
.section-aboutus--right img{
    width: 100%;
    height: 100%;
    opacity: 0.4;
    object-fit: cover;
    background-repeat: no-repeat;
    background-color: #000;
}





/*Area serviços*/
.section-services{
    display: flex;
    /*Solução para deixar todo
    conteudo alinhado corretamente*/
    padding: 15px;
}
.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
}
/*Comando abaixo, aplicara o efeito
ao primeiro item da lista.*/
.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}




/*Area de projetos*/
.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters{
    border: 1px solid #CCC;
    background-color: #eee;
    border-radius: 30px;
    display: inline-flex;
    padding: 0 20px;
}
.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}
.section-projects--filters li{
    display: inline-flex;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
}
.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid #b28756;
}
.section-projects--filters li:first-child{
    border-left: 0px;
}
.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;/*Quebra em linhas 
    dependendo da resolução*/
    justify-content: center;/*Faz o alinhamento*/
}
.section-projects--photo{
    width: 280px;
}
.section-projects--photoarea{
    margin: 10px;
    width: 260px;/*retira 10 das conta*/
    height: 160px;
}
.section-projects--photoinfo{
    display: block;
    position: absolute;
    background-color: #0005;
    width: inherit;/*herda do item anterior*/
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
}
.section-projects--photoinfo h5{
    font-weight: 600px;
    font-size: 18px;
}
/*Ativa a div quando passa o mouse*/
.section-projects--photoarea:hover
.section-projects--photoinfo{
    display: flex;
    backdrop-filter: blur(5px); /*Efeito blur*/
}
.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}



/*sessão dos times*/
.bg-team{
    background:linear-gradient(rgba(0,0,0,80%),rgba(0,0,0,80%)),
    url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
   
}
.section-team{
    overflow: hidden;
    /* 
    width:280px de cada slide
    margin-right: 20px dos slide 
    280+20=300
    =>300*3=900
    900-20=880*/
    max-width: 880px;
    margin: auto;
}
.section-team .sliders{
    width: 1000%;
    height: 100%;
}
.section-team .slide{ /*div transparent*/
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    margin-right: 20px;
}
.section-team .slideArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 30px;/*não a deixa imagem 
    ficar colada no top*/
}
.section-body  .sliders-pointer{
    width: 100%;
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-body .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin: 0px 0px 10px 10px;
    cursor: pointer;
}
.section-body  .pointer.active{ 
    background-color: #b28756;
}
/*colocando as fotos na sessão team*/

.slide-team--avatar{
    width: 150px;
    height: auto;
}
.slide-team--name{
    text-transform: uppercase;
    font-weight: 600px;
    font-size: 17px;
    margin-top: 30px;
}
.slide-team--role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.slide-team--social{
    display: flex;
    margin-top: 20px; 
}
.slide-team--social img{
    object-fit: cover; 
}
.slide-team--social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    border-radius: 13px;
    height: 25px;
    background-color:rgb(46, 46, 46);
    margin-right: 10px;
}

.slide-team--social a:hover{
    background-color:#b28756;
}





/*sessão dos times*/
.AboutClients .section-body {
    max-width:initial; /*deixa o width padrao*/
}
.section-AboutClients{
    overflow: hidden;
}
.section-AboutClients .sliders{
    width: 1000vw;
    height: 100%;
}
.section-AboutClients .slide{
    width: 100vw; 
    height: 100%;
    display: inline-block; /*Faz quebrar o conteudo*/
}
.section-AboutClients .slideArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.section-AboutClients--avatar{
    width: 150px;
    height: auto;
}
.section-AboutClients--name{
    text-transform: uppercase;
    font-weight: 600px;
    font-size: 17px;
    margin-top: 30px;
}
.section-AboutClients--role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-AboutClients--aspa{
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-AboutClients--descrip p{
    line-height: 25px;
    max-width: 880px;
    font-size: 14px;
    color: #999;
}
/* sessão Patrocionio*/
.section-companies{
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
}
.section-companies .slideArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.section-company{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    

}
.section-company--logo{
    padding: 20px;
    margin-right: 10px;
    margin-left: 5px;
    background-color: #fff;
    width: 170px;
    height: 110px;

}



/*sessão Preço*/
.section-price--name{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.section-price--value{
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
}
.section-price--period{
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section-price{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.section-price--corpo{
    font-size: 12px;
    background-color: rgba(5, 2, 2);
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 20px;
}

.button--dark{
    background-color: red;
}
.button--dark:hover{
    background-color: #b28756;
    color: #fff;
}



/*Sessão Livro*/
.premium{
    overflow: hidden;
    background-color:#FFF !important;
    border-top:1px solid #CCC;
}
.premium .section-body { /*Tirar deps*/
    max-width:initial; 
    /*Volta a width do body
     para o formato padrao*/
}
.section-premium .sliders{
    width: 1000%;
    height: 100%;
 
}
.section-premium .slide{
    height: 100%;
    width: 100vw;
    display:inline-flex;
}
.section-premium .slideArea{
    display: flex;
    flex-wrap: wrap;
    height:100%;
    max-width:1140px;
    justify-content: center;
    margin: auto; /*Tirar deps*/
    border-bottom: 1px solid #CCC;
    padding-bottom: 40px;
}

.section-premium--Image{
   flex:1;
   text-align: center;
}
.section-premium--Image img {
    width:300px;
    margin-top: 15px;
    margin-right:30px;
    margin-left:30px;
}
.section-premium--desc{
    flex:1;
 }
.section-premium--corpo{
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding:20px;
}
.section-premium--corpo img{
    height: 25px;
    width: 45px;
    padding-right: 20px;
}
.info{
    flex:1;
    color:#999;
    height: 100%;
}
.section-premium--corpo .info h4 {
    color:#000;
    font-size:17px;
    font-weight:600;
}
.sliders-pointer{
    width: 100%;
    margin-left: -5px;
}




/*Area Fact*/
.section-Facts{
    display: flex;
    /*Solução para deixar todo
    conteudo alinhado corretamente*/
    padding: 15px;
}
.section-Fact{ 
    flex: 1;
    text-align: center;
}
.section-Fact--line{
    width: 30px;
    margin: auto;
    border: 2px solid #b28756;
}
.section-Fact h3{
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 40px;
    color: #b28756;
}
.section-Fact h4{
    margin-top: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}
.section-Facts p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}



/*sessão shere*/
.section-share{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    color: #999;
    background-color:#FFF !important;
    border-bottom:1px solid #CCC;
}

.section-share--corpo{
    display: flex;
}
.section-share-twoTag{
    display: flex;
    align-items: center;
}
.section-share-twoTag h3{
    margin-right: 40px;
    font-weight: 600;
    text-transform: uppercase;
}
.section-share-forTag{
    display: flex;
    flex-direction: row;
  
}
.section-share--legend{
    display: flex;
    padding: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
   
}
.section-share--icon {
    width: 40px;
    cursor:pointer;
    height: 40px;
    padding: 15px;
    display: flex;
    margin-right: 10px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.section-share--icon.twitter {
    background-color:#34c5f0;
}
.section-share--icon.linkedin {
    background-color:#127cb4;
}
.section-share--icon.facebook {
    background-color:#336297;
}
.section-share--icon.googleplus {
    background-color:#e74237;
}
.section-share--icon.pinterest {
    background-color:#b71c29;
}




/*sessão contanto*/
.section-contact {
    max-width:550px;
    margin:auto;
    text-align: center;
}

input::placeholder,
textarea::placeholder{ /*Funciona em todos os navegadores modernos*/
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    
} 
.section-contact--block{
    display: flex;
    width: 100%;
    margin: auto;
 
}
.section-contact input[type=text],
.section-contact textarea{
    display: flex;
    width: 100%;
    border:0;
    border-bottom: 1px solid  #CCC;
    padding-top: 10px;
    padding-bottom: 10px;
    background:transparent;
    outline:0;/*Desativa o focu input ao clicar*/
    margin-bottom: 30px;
    
}
.section-contact textarea{
    resize: none;/*Desativa as bordas do textarea*/
    display: flex; 
    margin:0;
    padding-bottom: 0px;
}

.section-contact--block input:first-child{
    margin-right: 20px;
}




/*sessão mapa*/
.section-map{
    background-color:#FFF !important;
    border-top:1px solid #CCC;
    border-bottom:1px solid #CCC;
    background-image: url('../images/mapa.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-map--area{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section-map--info{
    width: 50%;
    padding: 30px;
    color: white;
    background-color: rgba(12, 12, 11, 0.7);
    border-radius: 10px;
}
.section-map--info-item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.section-map--info-img{
    width: 40px;
    height: 40px;
    background-color:rgba(12, 12, 11, 0.7);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 5px;
    margin-right: 15px;
}
.section-map--info-img img{
    width: 20px; /*controla tamanho do icone*/
    height: auto;
}






/*sessão rodape */
.section-footer{
    display: flex;
    width: 100vw;
    background-color: #000;
    padding: 30px;
}
.section-footer--itens{
    display: flex;
    max-width: 1140px;
    margin: auto;
    gap: 30px;
}
.section-footer--iten1,
.section-footer--iten2,
.section-footer--iten3{
    margin-right: 20px;
    flex: 1;
}
.section-footer--iten1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-footer--iten1 .slide-team--social{
    display: flex;
    margin: 0;
}
a .bolinhas{
    display: flex; /*faz elas ficarem na mesma linha*/
    background-color: #FFF; /*Da cor nas div's*/
    margin: 1px; /*Espaçamento esterno*/
    padding: 2px; /*da um espaçamento interno na proria div*/
    border-radius: 2px;
}
.section-footer--iten1 .section-footer--button{
    display: flex;
    color: white;
}
button.border{
    margin-top: 30px;
    border: 0;
}
.section-footer--iten2{
    line-height: 23px;
    color: #ccc;
}

.section-footer--iten3{
    display: flex;
    justify-content: center;
    margin: 0;
}
.section-footer button.border{
    width: 180px;
    margin-top: 10px;
}
.section-footer input{
    display: flex;
    min-width: 200px; 
    border:0;
    text-align: center;
    color: #CCC;
    border-bottom: 1px solid  #CCC;
    padding-top: 10px;
    padding-bottom: 10px;
    background:transparent;
    outline:0;/*Desativa o focu input ao clicar*/
    
}
.section-footer--subscribe{
    max-width: 300px;
    width: 100%;
    height: auto;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.section-footer ::placeholder{
    color: #CCC;
    text-align: center;
}





/*Resposividade Tablet*/
@media(min-width:450px) and (max-width:820px){
   
    .Logo{
        margin-left: 40px;
    }
    .menu-opener{
        display: block;
        width: 45px;
        margin-right: 40px;
    }
   
    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0,0,0,0.9);
        width: 70%;
        height: calc(100vh - 100px);
        top: 100px; /*preenche o espaço vazio*/
        right: 0;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a{
        font-weight: bold;
        font-size: 27px;
        height: 80px;/*espaçamento que o conteudo tera*/
        border:0;
        margin-left: 50px;
    }
    .menu li a:hover{
        border:0;
        color: #b28756;
    }
    .menu li.active a{
        border:0;
        color: #b28756;
    }
    .section-aboutus{
        flex-direction: column;
    }
    
    .section-aboutus--left{
        margin-left:30px;
        margin-right:30px;
        margin-bottom: 30px;
    }
    .section-aboutus-button{
        text-align: center;
    }
    .section-aboutus--right{
        width: auto;
    }
    .button{
       align-items: center;
    }
    .section-services{
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 50%;/*força ele quebra em duas coluna*/
        margin-bottom: 20px;
        border-right: 0px ;
    }
    .section-service:first-child{
        border: 0;
    }
    
    .section-service:nth-child(2n + 1) {
        border-right: 1px solid #333;
    }

    .section-team{
        /*POR PADRAO O SLIDE TEM 300PX.
        Logo dois pega um espaçamento de
        600px. Então para ter apenas 2
        slide basta colocarmos 580px */
        width: 580px;
    }
    .section-price--corpo {
        min-width:250px ;
    }
    .section-premium .slideArea {
        display: inline-block;
    }
    .section-Facts {
        flex-wrap:wrap;
    }
    .section-Fact {
        min-width: 50%;
    }
    .section-share-forTag{
        flex-wrap: wrap;
    }
    .section-share-forTag{
        flex-wrap: wrap;
    }
    .section-contact form{
        margin-left: 20px;
        margin-right: 20px;
    }
    .section-map{
        padding-left: 30px;
        padding-right: 30px;
    }
    .section-map--area{
        width: auto; /*Tira os 100vw*/
    }
    .section-map--info{
        width: auto;
    }
    .section-map--info-item{
        margin-bottom: 20px;
    }
    .section-map--info-item:last-child{
        margin-bottom: 0px;
    }
    .section-footer--itens{
       flex-wrap: wrap;
       width: 70vw;
    }

     .section-footer--iten1{
        justify-content: space-between;
        align-items: center;
    }
    .section-footer--iten2{
        min-width: 50%;
        text-align: justify;
        margin: auto;
       }
    .section-footer--iten3{
        max-width: 250px;
        margin: auto;
    }
    .section-footer--button{
        margin-top: 30px;
    }
 
}  

/*Resposividade Mobile*/
@media(max-width:450px){
   
    .Logo{
        margin-left: 40px;
    }
    .menu-opener{
        display: block;
        width: 45px;
        margin-right: 40px;
    }
   
    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0,0,0,0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px; /*preenche o espaço vazio*/
        right: 0;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li a{
        font-weight: bold;
        font-size: 17px;
        height: 60px;/*espaçamento que o conteudo tera*/
        margin-left: 30px;
        border:0;
    }
    .menu li a:hover{
        border:0;
        color: #b28756;
    }
    .menu li.active a{
        border:0;
        color: #b28756;
    }
    .banner h1{
        font-size: 30px;
    }
    .banner h2{
        font-size: 17px;
    }
    .section-aboutus{
        flex-direction: column;
    }
    
    .section-aboutus--left{
        margin-left:30px;
        margin-right:30px;
        margin-bottom: 30px;
    }
    .section-aboutus--right{
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    .section-aboutus--right img{
        width: 100%;
    }
    .section-aboutus-button{
        text-align: center;
    }
    .section-aboutus--right{
        width: auto;
    }
    .button{
       align-items: center;
    }
    .section-services{
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 100%;/*força ele quebra em uma coluna*/
        margin-bottom: 30px;
        border: 0;
    }
    .section-service:first-child{
        border: 0;
    }
    .section-team{
        /*POR PADRAO O SLIDE TEM 300PX.
        Logo para pegar um espaçamento de
        basta colocarmos 280px */
        width: 280px;
    }
    .section-projects--filters{
        margin-left: 30px;
        margin-right: 30px;
    }
    .section-projects--photo{
        width: 320px;
    }
    .section-projects--photoarea{
        width: 300px;
        height: 180px;
    }

    .section-price--corpo {
        min-width:250px;
    }
    .section-premium--Image img {
        margin:0;
        justify-content: center;
    }

    .section-Facts{
        max-width: 100%;
        flex-direction: column;
    }
    .section-Fact{
        min-width: 100%;
    }
    .section-share{
        flex-direction: column;
        justify-content: center;
    }
    .section-share-forTag{
        flex-wrap: wrap;
    }
    .section-share-forTag{
        flex-wrap: wrap;
    }
    .section-contact form{
        margin-left: 20px;
        margin-right: 20px;
    }
    .section-map{
       padding: 0;
       padding-bottom: 250px;
      
    }
    .section-map--area{
        width: auto; /*Tira os 100vw*/
    }
    .section-map--info{
        width: auto;
    }
    .section-map--info-item{
        margin-bottom: 20px;
    }
    .section-map--info-item:last-child{
        margin-bottom: 0px;
    }
    
    .section-footer--itens{
        flex-direction: column;
        min-width: 100%;
    }
    .section-footer--iten1{
        justify-content: space-between;
        margin-right: 0;
        align-items: center;
    }
    .section-footer--iten2{
        min-width: 100%;
        text-align: justify;
       }
    .section-footer--iten3{
        max-width: 250px;
        width: 100%;
        margin: auto;
    }
    .section-footer--button{
        margin-top: 30px;
    }
 
}  